.central-area {
    display: block flex;
    align-items: stretch;
}

.libreria {
    flex-grow: 1;
    display: block grid;
    grid-template-rows: 80px auto;
    grid-template-columns: auto;
    grid-template-areas: "libreria-header" "book-collection";
}

.libreria-header {
    grid-area: libreria-header;
    display: block flex;
    align-items: center;
    padding: 10px;
    column-gap: 10px;
}

form.status-filter {
    flex-grow: 1;
    display: block flex;
    column-gap: 20px;
    padding: 10px 5px;

    background-color: #B8D6D7;
    border-radius: 5px;
}

.status-filter-title {
    font-weight: bold;
}

.book-collection {
    grid-area: book-collection;
    overflow: scroll;
}

.libreria-header button {
    background-color: #FDFFC1;
    border: 2px solid #CDCF93;
    border-radius: 12px;
    padding: 8px 12px;
    font-size: 1rem;
    font-family: Nunito, sans-serif;
}

.libreria-header button:hover {
    background-color: #F6FF7B;
}

.book-collection {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.book-collection .book-item {
    background-color: rgba(246, 255, 0, 0.23);
    width: 250px;
    max-width: 250px;
    height: 320px;
    max-height: 320px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    font-size: 0.8rem;
    border: 4px solid rgba(144, 197, 197, 0.47);
}


.book-collection .book-item.borrowed {
    background-color: rgba(255, 77, 147, 0.27);
}


.book-collection .book-item.lent {
    background-color: rgb(144, 197, 197);
    opacity: 50%;
}

.book-item .book-cover {
    height: 200px;
    align-self: center;
    margin-bottom: 10px;
    flex-grow: 0;
}


.book-item .book-info {
    flex-grow: 1;
}


.book-item .book-status {
    background-color: rgba(246, 255, 0, 0.61);
    display: flex;
    padding: 4px;
    justify-content: space-between;
    align-items: baseline;
}


.book-item.borrowed .book-status {
    background-color: rgba(246, 255, 0, 0.3);
}


.book-info p {
    margin: 3px 0;
    padding: 0;
}


.book-info .book-title {
    font-weight: bold;
}


.book-info .book-author {
    font-style: italic;
}


.book-info .book-author:before {
    content: "by ";
    font-style: normal;
}

.book-status .status, .book-status .requests {
    font-size: 0.8rem;
    font-weight: bold;
    background-color: rgb(41, 164, 164);
    color: white;
    padding: 2px 6px;
    min-width: 12px;
    width: 12px;
    border-radius: 12px;
    text-align: center;
}


.book-status .status {
    background-color: rgb(41, 164, 164);
}


.book-status .requests {
    background-color: rgb(210, 0, 90);
}


.book-status .due {
    font-style: italic;
}

.book-actions {
    display: flex;
    justify-content: center;
}

.book-actions span {
    padding: 5px 10px;
    background-color: rgb(0, 117, 117);
    color: white;
    border-radius: 8px;
    font-size: 1rem;
}

.book-actions a {
    color: white;
    text-decoration: none;
}

.book-actions span:hover {
    background-color: rgb(14, 164, 164);
}
