.central-area {
    display: block flex;
    align-items: stretch;
}

form.book-borrow-request {
    border: 1px solid rgb(104, 185, 185);
    background-color: rgba(255, 255, 255, 0.65);
    padding: 20px 30px 10px 30px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

form.book-borrow-request h1 {
    margin: 5px 0;
    font-size: 1.6rem;
    text-align: center;
    color: rgb(210, 0, 90);
}

form.book-borrow-request label {
    font-size: 0.9rem;
    font-weight: bold;
}

form.book-borrow-request input[type="date"] {
    font-family: "Nunito", sans-serif;
}

form.book-borrow-request .form-action {
    background-color: #fdffb9;
    padding: 5px 10px;
    font-weight: bold;
    color: #434343;
    border-radius: 10px;
    border: 2px solid #cdcf93;
    margin-top: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
}

form.book-borrow-request .form-action:hover {
    background-color: #f4ff62;
}

.book-borrow-request .book-info {
    text-align: center;
}

.book-borrow-request .book-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-borrow-request .message {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.book-borrow-request .message textarea {
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
}

.book-borrow-request .actions {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    justify-content: center;
    column-gap: 10px;
}